* {
  font-size-adjust: 0.5;
}

body, blockquote {
  font-size: 1.2rem;
  font-family: ui-serif, serif;
  margin: 0;
}

p { hyphens: auto; }

a {
  text-decoration: none;
  word-break: break-all;
}

a:hover, a:active {
  color: #eb4471; /* same as header */
}

img {  
  border: none;
  max-width: 100%;
  height: auto;
}

blockquote {
  font-style: italic;
}

pre, code {
  font-family: ui-monospace, monospace;
  overflow: auto;
}

pre {
  padding: 10px;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  margin: 30px 0px 30px 15px;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid black;
  vertical-align: middle;
  text-align: left;
  padding: 5px;
}

h1, h2 {
  font-family: ui-sans-serif, sans-serif;
}

h1 {
  margin: 0;
  font-size: 1.70rem;
}

h2 {
  font-size: 1.45rem;
}

.header {
  background-color: #eb4471;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.title {
  font-family: ui-sans-serif, sans-serif;
  font-size: 1rem;
  text-shadow: 2px 2px 4px #333;
  color: white;
}

.title a {
  padding: 15px 25px;
  color: white;
  display: block;
}

.blog, .home {
  margin: 25px;
  max-width: 50rem;
}

.blog .date, .home .date {
  margin-top: 0.25rem;
  font-size: 0.9rem;
  margin-bottom: 1.8rem;
}

.blog .entry {
  margin: 0;
  margin-top: 1rem;
}

.blog .footer {
  margin-top: 2rem;
}

.home h2 {
  margin: 0;
  font-size: 1.35rem;
}
