:root {
  --color-primary: #eb4471;
  --font-serif: ui-serif, serif;
  --font-sans: ui-sans-serif, sans-serif;
  --font-mono: ui-monospace, monospace;
  --max-content-width: 50rem;

  /* simplified spacing scale */
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}

/* global defaults */
* {
  font-size-adjust: 0.5;
}

body {
  font-size: 1rem;
  font-family: var(--font-serif);
  margin: 0;
}

a {
  text-decoration: none;

  &:hover,
  &:active {
    color: var(--color-primary);
  }
}

/* blog title header visible on all pages */
.header {
  background-color: var(--color-primary);
  box-shadow: 0 0 var(--space-sm) rgba(0, 0, 0, 1);

  .title {
    font-family: var(--font-sans);
    font-size: 1rem;
    text-shadow: 2px 2px 4px #333;
    color: white;

    a {
      display: block;
      padding-block: var(--space-sm);
      padding-inline: max(var(--space-md), calc((100% - var(--max-content-width)) / 2));
      color: white;
    }
  }
}

/* shared styling for blog entries and index.html */
.blog, .home {
  max-width: calc(var(--max-content-width) + 2 * var(--space-md));
  margin: var(--space-md) auto;
  padding-inline: var(--space-md);
  box-sizing: border-box;

  .date {
    margin-top: 0.25rem;
    font-size: 0.9rem;
    margin-bottom: var(--space-lg);
  }
}

/* styling for index.html */
.home {
  h2 {
    font-family: var(--font-sans);
    margin: 0;
    font-size: 1.5rem;
  }
}

/* styling for blog entries */
.blog {
  h1 {
    font-family: var(--font-sans);
    margin: 0;
    font-size: 1.8rem;
  }

  .entry {
    margin: 0;
    margin-top: var(--space-sm);

    h2 {
      font-family: var(--font-sans);
      font-size: 1.5rem;
    }

    p {
      hyphens: auto;
    }

    a.url {
      word-break: break-all;
    }

    img {
      border: none;
      max-width: 100%;
      height: auto;
    }

    blockquote {
      font-family: var(--font-serif);
      font-style: italic;
      margin: 0;
    }

    pre, code {
      font-family: var(--font-mono);
      overflow: auto;
    }

    pre {
      padding: var(--space-sm);
      background: #fafafa;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    table {
      margin: var(--space-lg) 0 var(--space-lg) var(--space-sm);
      border-collapse: collapse;

      td, th {
        border: 1px solid black;
        vertical-align: middle;
        text-align: left;
        padding: 0.5rem;
      }
    }
  }

  .footer {
    margin-top: var(--space-lg);
  }
}
