@font-face {
  font-family: 'NCM Regular';
  font-style: normal;
  font-weight: normal;
  src: local('NCM Regular'), url('/font/NewCM10-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NCM Mono';
  font-style: normal;
  font-weight: normal;
  src: local('NCM Mono'), url('/font/NewCMMono10-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NCM Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('NCM Sans Bold'), url('/font/NewCMSans10-Bold.otf') format('opentype');
}

body, blockquote {
  font-family: 'NCM Regular', ui-serif, serif;
  margin: 0;
}

a {
  text-decoration: none;
}

img {  
  border: none;
  max-width: 100%;
  height: auto;
}

blockquote {
  font-style: italic;
}

pre, code {
  font-family: 'NCM Mono', ui-monospace, monospace;
  overflow: auto;
}

pre {
  font-size: 1em;
  padding: 10px;
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  margin: 30px 0px 30px 15px;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid black;
  vertical-align: middle;
  text-align: left;
  padding: 5px;
}

h1, h2 {
  font-family: 'NCM Sans Bold', ui-sans-serif, sans-serif;
}

h1 {
  margin: 0;
  font-size: 1.70em;
}

h2 {
  font-size: 1.45em;
}

.header {
  background-color: #303546;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  background-image: linear-gradient(to top, rgb(68, 79, 117) 47%, rgb(40, 43, 53) 100%);
}

.title {
  font-family: 'NCM Sans Bold', ui-sans-serif, sans-serif;
  font-size: 1em;
  text-shadow: 2px 2px 4px #333;
  color: white;
}

.title a {
  padding: 15px 25px;
  color: white;
  display: block;
}

.blog, .home {
  margin: 25px;
  max-width: 50em;
}

.blog .date, .home .date {
  margin-top: 0.25em;
  font-size: 0.9em;
  margin-bottom: 1.8em;
}

.blog .entry {
  margin: 0;
  margin-top: 1em;
}

.blog .footer {
  margin-top: 2em;
}

.home a:link {
  color: black;
}

.home a:hover {
  text-decoration: underline;
}

.home h2 {
  margin: 0;
  font-size: 1.35em;
}
